.App {
  /* text-align: center; */
  width: 100%;
  display: flex;

}

.App .components {
  width: 50%;
  text-align: center;
}

.text_align_center {
  text-align: center;
}


.flex_column {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.flex_column label {
  margin-top: 10px;
  text-align: left;
}

.flex_column button {
  margin-top: 10px;
}

.add_form {
  width: 100%;
}

